@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.numberInput{
    border-style: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    padding: 10px;
}

/* fonts */
h1{
    margin: 60px auto 30px;
    letter-spacing: 50px;
    text-transform: uppercase;
}

h2{
    font-weight: 200;
    font-size: 20px;
    margin: 30px auto;
    width: 80%;
}

label{
    font-size: 15px;
}

form{
    background-color: antiquewhite;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 1rem 1rem 0 0;
}

.inputsContainer{
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.numberContainer{
    display: flex;
    flex-direction: column;
}

input[type=submit]{
    border-style: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    padding: 10px;
    transition: 0.5s;
}
input[type=submit]:hover{
    background-color: rgb(221, 221, 221);
    color: white;
    box-shadow: 5px 5px 0 black;
    border-radius: 0.3rem;
}

.resultContainer{
    background-color: rgb(224, 224, 224);
    width: 40%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 0 0 1rem 1rem;
}

.resultRows{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

@media (min-width: 600px) and (max-width:764px){
    form, .resultContainer{
        width: 80%;
    }
}
@media (min-width: 765px) and (max-width:1200px){
    form, .resultContainer{
        width: 80%;
    }
}